
.greyColor {
    background-color: #313329;
}


.chartreColor {
    background-color: rgb(255, 252, 208);
}
.chartreColor2 {
    background-color: rgb(255, 252, 208);
}

.navColor {
    background-color: #EB5725;
}
.paddinBtom {
    padding-bottom: 30px;
}
